name: CentOS 7 Build
on: [push]
env:
  CONTAINER: centos:7

jobs:
  linux:
    name: Linux Build
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v4

    # We manually start a container and execute scripts in it instead of using `jobs.build.container`,
    # otherwise we couldn't use GitHub-provided actions (checkout, cache, etc.) as they rely on Node20
    # which would not necessarily be available on some containers (e.g., Ubuntu 18.04).
    #
    # See: https://github.com/actions/checkout/issues/1590
    #
    # If you need to pass environment variables from the GitHub host runner to the Docker container,
    # you can do so by adding `-e MY_VAR` to the docker run command, for example:
    #
    #    docker run --name build-container -d -e GITHUB_REPOSITORY -v ...
    #
    - name: Start Docker Container
      run: |
        docker pull $CONTAINER
        docker run --name build-container -d -v ${{ github.workspace }}:/desktop $CONTAINER tail -f /dev/null

    - name: Install Development Tools Packages
      env:
        SCRIPT: |
          # Replace mirror list with vault
          sed -i.bak 's/mirrorlist/#mirrorlist/g' /etc/yum.repos.d/CentOS-*
          sed -i.bak 's|#baseurl=http://mirror.centos.org|baseurl=http://vault.centos.org|g' /etc/yum.repos.d/CentOS-*

          # Update cache of repository
          yes | yum -y --assumeyes makecache

          # Install packages
          yes | yum -y --assumeyes install @'Development Tools' libgcc.i686 glibc-devel.i686 glibc-static.i686 libstdc++-devel.i686 libgcc.i686 libstdc++-static.i686 wget
      run: docker exec build-container bash -c "$SCRIPT"

    - name: Execute Build
      env:
        SCRIPT: |
          # Open makefile directory
          cd /desktop/PugMod

          # Export C++ compiler path
          export CPATH=$CPATH:/usr/include/c++/4.8.5/i686-redhat-linux

          # Make all (Without post build script)
          make all

          # Make dlls path
          mkdir -p ../cstrike/addons/pugmod/dlls

          # Copy release file
          cp ./Release/pugmod_mm.so ../cstrike/addons/pugmod/dlls

      run: docker exec build-container bash -c "$SCRIPT"

    - name: Deploy artifacts
      uses: actions/upload-artifact@v4
      with:
        name: linux32
        path: ${{github.workspace}}/PugMod/cstrike
        