name: Build C/C++

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  linux:
    name: Linux Build
    runs-on: ubuntu-latest
    container: rockylinux:8
    steps:
    - name: Setup Checkout
      uses: actions/checkout@v3

    - name: Setup Packages
      run: yes | dnf -y --assumeyes --enablerepo=powertools install @'Development Tools' wget libgcc.i686 glibc.i686 glibc-devel.i686 glibc-static.i686 libstdc++.i686 libstdc++-devel.i686 libstdc++-static.i686

    - name: Run Build
      working-directory: ./PugMod
      run: make all
    
    - name: Move release file to publish
      run: |
        # Make Path
        mkdir -p publish/addons/pugmod/dlls

        # Copy released file to dlls
        cp ./PugMod/Release/pugmod_mm.so publish/addons/pugmod/dlls

    - name: Deploy artifacts
      uses: actions/upload-artifact@v3
      with:
        name: linux32
        path: publish/*
        
  windows:
    name: Windows Build
    runs-on: windows-latest
      
    env:
      SOLUTION_FILE_PATH: .
      BUILD_CONFIGURATION: Release
  
    steps:
    - uses: actions/checkout@v4

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v2

    - name: Run Build
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: msbuild /m /p:Configuration=${{env.BUILD_CONFIGURATION}} ${{env.SOLUTION_FILE_PATH}}

    - name: Move release file to publish
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: |
        # Make publish directory
        mkdir publish\addons\pugmod\dlls

        # Move released dll to publish
        move ${{env.BUILD_CONFIGURATION}}\*.dll publish\addons\pugmod\dlls

    - name: Deploy artifacts
      uses: actions/upload-artifact@v4
      with:
        name: win32
        path: publish/*
